{% extends "base.html" %}

<!-- Styling -->
{% block additional_style %}
<style>
  #main-container {
    padding: 64px;
  }
  #main-col > * {
    margin: 24px;
  }
  .carousel-item {
    padding-right: 128px;
    padding-left: 128px;
  }
  #loading-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}

{% block scripts %} 
  <script src="{{ url_for('static', filename='/js/requests.js') }}"></script>
  <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
{% endblock %}

{% block content %}

  <div id="main-container" class="container-fluid">
    <div id="header-row" class="row text-center">
      <!-- <h1>Bonion</h1> -->
    </div>
    <div id="main-row" class="row">
      <div id="main-col" class="col">

        <div class="row g-2">
          <div class="col-md-10">
            <label for="prompt" class="visually-hidden">Prompt</label>
            <!-- <input type="text" class="form-control" id="prompt" placeholder="Enter your prompt here"> -->
            <textarea placeholder="Enter your prompt here" id="prompt" style="height: 100px; width: 100%;"></textarea>
          </div>
          <div class="col-auto">
            <button id="enter-button" class="btn btn-primary mb-2">Enter</button>
          </div>
        </div>

        <!-- Edition section -->
        <div class="card row">
          <div class="card-header container">
            <h4 id="carousel-title" class="col-md-auto">Start by entering into prompt</h4>
            <small id="carousel-title-include-tag"></small>
            <div class="col col-lg-4">
              <button id="edit-button" class="btn btn-primary">Edit</button>
              <button class="btn btn-primary">Remove</button>
              <button id="post-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm-post-modal">
                Post
              </button>    
            </div>
          </div>
          <div class="card-body" style="min-height: 100px;">
            <div id="carousel-edition-section" class="carousel slide carousel-dark">
              <div id="carousel-content-section" class="carousel-inner"></div>   
              <button id="carousel-prev" class="carousel-control-prev" type="button" data-bs-target="#carousel-edition-section" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button id="carousel-next" class="carousel-control-next" type="button" data-bs-target="#carousel-edition-section" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>             
            </div>
          </div>
        </div>
      </div>

      <!-- the feed column for hot reddit posts from pinned subreddits -->
      <div id="feed-col" class="col-sm-4">
        <h4>Reddit</h4>
        <div class="accordion" id="reddit-accordian">
          {% for subreddit in trending_dict["reddit"] %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{subreddit}}" aria-expanded="true" aria-controls="collapse-{{subreddit}}">
                  r/{{ subreddit }}
                </button>
              </h2>
              <div id="collapse-{{subreddit}}" class="accordion-collapse collapse" data-bs-parent="#reddit-accordian">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                      {% for top_post_id, top_post_values in trending_dict["reddit"][subreddit].items() %}
                        <li class="list-group-item">
                          <p><strong>{{ top_post_values["title"]}}</strong></p>
                          <p>up: {{top_post_values["upvotes"]}}</p>
                          <p>Reference code: @reddit-{{top_post_id}}</p>
                          <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#full-post-view">
                            Show Full
                          </button>                           -->
                        </li>
                      {% endfor %}
                    </ul> 
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- confirm post modal -->
      <div class="modal fade" id="confirm-post-modal" tabindex="-1" aria-labelledby="confirm-post-modal-title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="confirm-post-modal-title">Configure Your Post</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="post-modal-body" class="modal-body">
              <textarea placeholder="Enter Subreddit Name" id="post-address-prompt" style="height: 35px; width: 70%;" ></textarea>
              <br>
              <b>Title</b>
              <p id="post-modal-title"></p>
              <b>Content</b>
              <p id="post-model-content"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="modal-post-button" type="button" class="btn btn-primary">Post</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- expanded view for a reddit post -->
      <!-- <div id="full-post-view" class="modal modal-dialog-centered modal-dialog-scrollable" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="full-post-view-title" class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="full-post-view-body-text">Modal body text goes here.</p>
            </div>
          </div>
        </div>
      </div> -->
      

    </div>
  </div>
{% endblock %}

